.hover-effect img {
    padding-left: 120px;
    padding-top: 100px;
    transition: opacity 0.3s ease;
  }

  .hover-effect img:hover {
    opacity: 0.8;
  }

  @media (max-width : 480px)
  {
      .hover-effect img{
        padding-left: 20px;
        padding-top: 20px;
      }
  }